table{
    margin-top:50px;
    text-align: center;
    background:peru;
    color:#fff;
  }
  #show th,#show td{
    padding:13px;
  
  }
  #btna id input{
    width:100%;
  
  }
  h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: darkmagenta;
  }
  .employee-form {
    /*inside the border*/
    background-color:#fff;
    /* color: black; */
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }
  
  .employees-table {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 20px;
    /* width: 50%; */
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }
  
  body > table {
    width: 80%;
  }
  
  table {
    border-collapse: collapse;
  }
  table.list {
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid palegoldenrod; /*below border */
    color: aliceblue;
    text-align: left;
    padding: 8px;
  }
  
  table.list thead > tr {
    background-color: palegreen; /*below border */
    color: aliceblue;
  }
  
  input[type='text'],
  input[type='number'] {
    /*input color */
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    color:black;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
   
  }
  
  input[type='submit'] {
    width: 20%;
    background-color: white;
    color: #ff66a3;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form div.form-action-buttons {
    text-align: right;
  }
  
  /* a {
    cursor: pointer;
    text-decoration: none;
    color:#0fb433;
    /* margin-right: 4px; */
  
  
  label.validation-error {
    color: white;
    margin-left: 5px;
    display: block;
  }
  
  .hide {
    display: none;
  }
  body {
    background-image: url("power6.jpg");
    color: white; /*ouside the border*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color:palegreen;
  }
  /* button{
      width: 100px;
      height: 50px;
      background-color: pink;
      color: #fff;
      border-radius: 50px;
      margin: auto;;
      align-items: center;
  }
  button :hover{
      background-color: blueviolet;
  } */
  /* a{
      color:purple;
      text-decoration: #b82268;
  } */
  .nav{
    max-width: 1000px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
/* .btn{
    border: 1px solid var(--black);
    margin-: 50px;
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.5rem;
    border-radius: 50px;
    color: var(--black);
    cursor: pointer;
  background: palevioletred; 
/* margin-left: 2rem; */
/* } 
.btn:hover{
    background:var(--green);
    color:plum;
} */


button{
  width: 100px;
  height: 50px;
  background-color: lightgoldenrodyellow;
  color:#fff;;
  border-radius: 50px;
  margin: auto;;
  align-items:center;
}
button :hover{
  background-color: blueviolet;
}
a{
  color:purple;
  text-decoration: #b82268;
}



.navigation a{
	position: relative;
	font-size: 1.1em;
	color:purple;
	text-decoration: none;
	font-weight: 500;
	margin-left: 30px;
}
.navigation a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 10px;
	background: rgb(214, 33, 190);
	border-radius:5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;


} 
.navigation a:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}

  /* #btn{
    text-align: center;
    width:100px;
    height: 50px;
  }  */


  

  
  