.employee-form {
    /*inside the border*/
    background-color: #ff66a3;
    /* color: black; */
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }
  
  .employees-table {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 20px;
    /* width: 50%; */
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }
  
  body > table {
    width: 80%;
  }
  
  table {
    border-collapse: collapse;
  }
  table.list {
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #ff66a3; /*below border */
    color: aliceblue;
    text-align: left;
    padding: 8px;
  }
  
  table.list thead > tr {
    background-color: #ff66a3; /*below border */
    color: aliceblue;
  }
  
  input[type='text'],
  input[type='number'] {
    /*input color */
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    color: #ff66a3;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type='submit'] {
    width: 20%;
    background-color: white;
    color: #ff66a3;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form div.form-action-buttons {
    text-align: right;
  }
  
  a {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    margin-right: 4px;
  }
  
  label.validation-error {
    color: white;
    margin-left: 5px;
    display: block;
  }
  
  .hide {
    display: none;
  }
  body {
    background-image: url("");
    color: white; /*ouside the border*/
    background-position: center;
    background-size: cover;
  }
  
  .title {
    margin-top: 15px;
  }
  