@font-face {
    font-family: Stylish;
    src: url('../fonts/Stylish-Regular.ttf');
  }
  
  /* navbar*/
  .navbar {
    font-family: 'Stylish', sans-serif;
    background: #c9c1ac;
    padding: 20px 20px;
    transition: all 2s ease;
  }
  
  .navbar-background {
    padding: 5px 20px;
  }
  
  .navbar-brand {
    color: rgb(211, 50, 95);
    font-size: 100px;
    transition: all 1s ease;
  }
  
  .navbar-brand:hover {
    color: #242424;
  }
  
  .nav-link {
    color: #242424 !important;
    text-decoration: none;
    transition: all 2s ease;
    font-size: 23px;
  }
  
  .nav-link:hover {
    color: #d3325f;
  }
  
  .nav-btn {
    background: transparent;
    color: #d3325f;
    border: 2px solid #d3325f;
    font-size: 23px;
    transition: all 2s ease;
  }
  
  .nav-btn:hover {
    color: #242424;
    border: 2px solid #242424;
    transform: rotate(10deg);
  }
  
  .toggler-btn {
    border: 2px solid #d3325f;
    padding: 5px;
    transition: all 2s ease;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #d3325f;
    transition: all 0.5s ease;
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }
  