*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    box-sizing: 0 0 0 1px rgba(0,0,0,0.1),
                0 5px 12px -2px rgba(0,0,0,0.1),
                0 18px 36px -6px rgba(0,0,0,0.1);
}
.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.container form input{
    display: none;

}
.container-form .category{
margin-top: 10px;
padding-top: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 15px;

}
.category label{
    
    height: 140px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    

}
/* label:nth-child(2),label:nth-child(3){
    margin: 15px 0;
    


} */
#wavepay:checked ~ .category .wavepayMethod,
#kpay:checked ~ .category .kpayMethod{
    box-shadow: 0px 0px 0px 1px rgba(24, 35, 184, 0.2);
    


}

#wavepay:checked ~ .category .wavepayMethod .check,
#kpay:checked ~ .category .kpayMethod .check{
    display: block;

    


}

label.imgName{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
flex-direction: column;

}
.imgName span{ 
    /* margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}
/* .imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
position: absolute;
top: 35%;
transform: translateY(-35%);
/ */


img{
    width: 50px;
    height: auto;

}
.wavepay img{
    width: 80px;
    margin-left: 5px;
    
}
.kpay img{
    width: 40px;
}
.check{
    display: none;

}
.check i{
    font-size: 18px;


}